/*
Theme Name: Vbt
Theme URI: http://www.github.com/rincorpes/vbt-wp-theme
Author: Santiago Rincón
Author URI: http://www.twitter.com/rincorpes
Description: Theme for devellopers. || Tema para desarrolladores.
Version: 1.0.0
License: GNU GENERAL PUBLIC LICENSE Version 3, 29 June 2007
License URI: https://github.com/Rincorpes/vbt-wp-theme/blob/master/LICENSE
Text Domain: vbt
Tags: Wordpress theme, CSS3, Twitter Bootstrap, HTML5, jQuery
*/

/* Default Theme */
/* ----------------------------------------- */

/* ----------------------------------------- */
/* General Style */
/* ----------------------------------------- */
body
	// Only if .navbar-fixed-top exists
	// Sólo si existe la clase .navbar-fixed-top exists
	padding-top 50px 
	
	// if H1 in in .navbar
	// si h1 está en .navbar
	h1.text-hide
		margin-top 5px
		margin-bottom 5px
/* ----------------------------------------- */
/* Header Style */
/* ----------------------------------------- */
/* ----------------------------------------- */
/* Main Style */
/* ----------------------------------------- */
#vbt-main
	margin-top 40px
	margin-bottom 40px
	
	#vbt-content
		article
			border 1px solid #e7e7e7
			.post-header
				//width 700px
				margin-top 15px
				margin-left auto
				margin-right auto
				.post-thumbnail
					padding-left 20px
					padding-right 20px
					overflow hidden
					background #f8f8f8
					.image-not-found
						img
							width 100%
							max-width 700px
							height auto
				.post-info
					ul 
						li 
							padding 20px 30px
							span 
								margin-right 5px
				.post-title
					padding-left 20px
					padding-right 20px
					padding-bottom 15px
					border-bottom 1px solid #e7e7e7
					h2
						text-transform uppercase
			.the-content
				margin-left auto
				margin-right auto
				padding-top 15px
				padding-bottom 15px
				padding-left 20px
				padding-right 20px
			.post-footer
				//width 700px
				margin-left auto
				margin-right auto
				padding-top 15px
				padding-left 20px
				padding-right 20px
				border-top 1px solid #e7e7e7
		#vbt-comments
			margin-top 20px
			.comment-form-wrapp
				padding 20px
				border-top 1px solid #e7e7e7
/* ----------------------------------------- */
/* Footer Style */
/* ----------------------------------------- */
#vbt-footer
	background #f8f8f8
	border-top 1px solid #e7e7e7
	padding-top 20px