/*
Theme Name: Vbt
Theme URI: http://www.github.com/rincorpes/vbt-wp-theme
Author: Santiago Rincón
Author URI: http://www.twitter.com/rincorpes
Description: Theme for devellopers. || Tema para desarrolladores.
Version: 1.0.0
License: GNU GENERAL PUBLIC LICENSE Version 3, 29 June 2007
License URI: https://github.com/Rincorpes/vbt-wp-theme/blob/master/LICENSE
Text Domain: vbt
Tags: Wordpress theme, CSS3, Twitter Bootstrap, HTML5, jQuery
*/

/* Default Theme */
/* ----------------------------------------- */

/* ----------------------------------------- */
/* General Style */
/* ----------------------------------------- */
body
	// Only if .navbar-fixed-top exists
	// Sólo si existe la clase .navbar-fixed-top exists
	padding-top 50px 
	
	// if H1 in in .navbar
	// si h1 está en .navbar
	h1.text-hide
		margin-top 5px
		margin-bottom 5px
/* ----------------------------------------- */
/* Header Style */
/* ----------------------------------------- */
/* ----------------------------------------- */
/* Main Style */
/* ----------------------------------------- */
/* ----------------------------------------- */
/* Footer Style */
/* ----------------------------------------- */